# settings
.git
.idea
*.retry
.dockerignore
Dockerfile

# compile python
*.py[co]

# virtualenv
.venv
venv
.env
env

# static files
{{ cookiecutter.package_name }}/storage
{{ cookiecutter.package_name }}/static/

# databases
*.db
*.sql
*.sqlite3

# editors
*.swp

# docker export
*.docker
