# settings
.git
.idea
*.retry
.dockerignore
Dockerfile

# compile python
*.py[co]

# virtualenv
.venv
venv
.env
env

# static files
proj/storage
proj/static/

# databases
*.db
*.sql
*.sqlite3

# editors
*.swp
