# settings
.git
.idea
*.retry
.env/*
venv/*
*.py[co]

# static files
{{ cookiecutter.author_email }}/storage
{{ cookiecutter.author_email }}/static/

# databases
*.db
*.sql
*.sqlite3

# editors
*.swp

# docker export
*.docker
