<VirtualHost *:80>
	ServerAdmin {{ email }}
	ServerName {{ domain }}
	ServerAlias www.{{ domain }}

	<Location /media/>
		SetHandler None
		Order deny,allow
		Allow from all
		Options +Indexes
	</Location>
	<Location /static/>
		SetHandler None
		Order deny,allow
		Allow from all
		Options +Indexes
	</Location>

	alias /media/ /var/www/{{ proj }}/storage/
	alias /static/ /var/www/{{ proj }}/static/

	ProxyPreserveHost On
	ProxyRequests On
	ProxyErrorOverride Off
	ProxyPass /media !
	ProxyPass /static !
	ProxyPass / http://127.0.0.1:{{ port }}/
	ProxyPassReverse / http://127.0.0.1:{{ port }}/
</VirtualHost>
